body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0px;
  }

  #note {
    color: #ff6363;
    padding: 1em;
  }

  .hidden {
    display: none;
  }
  
  header, footer, h1 {
    margin: 0px;
  }
  
  header {
    background-color:#ff6363;
    padding: 1em;
  }

  footer {
    padding: 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
  }

  h1 {
    display: inline;
  }

  a {
    font-size: 0.75em;
    color: #204a87;
  }

  a:hover {
    color: #ff6363;
    text-decoration: underline;
  }

  a:visited {
    color: #204a87;
  }

  form {
    margin: 0.25em;
    margin-bottom: 2em;
    font-size: 0.75em;
  }

  form * {
    margin: 0.5em 0em;
  }
  
  table,
  tr,
  td {
    border: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  
  table {
    border-collapse: collapse;
    margin: 1em auto;
  }
  
  input[type="number"] {
    width: 6em;
    height: 2em;
  }

  input[type="number"]:focus, input[type="number"]:hover {
    border-color: #ff6363;
    border-radius: 5px;
  }
  
  input[type="submit"], button {
    width: 6em;
    height: 3em;
    background-color: #ff6363;
    color: white;
    border-radius: 3px;
    border-style: none;
  }

    input[type="button"] {
    width: 3em;
    height: 3em;
    border-radius: 3px;
    border-style: none;
  }
  
  #rightside {
    float: right;
    margin: 1em;
  }

  #leftside {
    float: left;
    margin: 1em;
  }

  button {
    visibility: hidden;
  }
  